/* MAIN DIV TOP HEADER HELLO USER */

.jumbotron {
  top: 11vh;
  padding: 4rem; 
  background-color: rgba(255, 255, 255, 0.959);
  border-radius: 0.3rem;
  width: 80%;
  margin: 0 auto; 
}

.jumbotron h2 {
  font-weight: 700; 
  color: #6f42c1;
  font-size: 2.5rem; 
}

.jumbotron p {
  color: #55595d;
}

.content-container {
  background-color: #cec7de;
  padding-top: 10vh;
  padding-bottom: 10vh; 
}

.container-fluid.jumbotron-container {
  background-color: rgba(98, 69, 151, 0.1);
  height: 70vh;
  margin-bottom: 5vh;
}

/* Styles for user profile panel */

.card-header {
  background-color: #f1f1f1c4;
}

.content-container .card {
  width: 95%; 
  margin: 0 auto;
}

/* Styles for miniprofile card */
.miniprofile.card {
  background-color: #ffffff;
  max-width: 100%;
  width: 100%; 
  height: auto;
}

.miniprofile.card .card-header .h2 {
  color: rgba(85, 66, 193, 0.557);
  font-size: 1.5rem; 
}

/* Styles for new-card user info */

.new-column-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(85, 66, 193, 0.557);
}

/* Sign Out Button */
.btn-sign-out {
  color: #ffffff;
  background-color: #5368bc83;
}

.btn-sign-out:hover {
  color: #fff;
  background-color: #577fdc;
}

/* user profile "Stats" card */

.new-card {
  background-color: #f6f6f6;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}

/* BOOSTRAP ICONS */
.bi {
  color: #1de9b6 !important;
}
