
/*----------BOOSTRAP NAVBAR HEADER CSS------------*/

.navbar-mainbg {
	/* position: sticky; */
	top: 0;
	background-color: #5161ce;
	padding: 1.5vh;
	/* z-index: 1000;  */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.159); */
  }

.navbar-brand-custom {
  padding: 15px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  }

  .navbar-brand-custom:hover {
  color: #354087;
  transition: all 0.3s ease-in-out;
  }

.navbar-mainbg {
  background-color: #5161ce;
  padding: 1.5vh;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0;
}

.nav-link {
  color: rgba(244, 244, 244, 0.898);
  text-decoration: none;
  font-size: 18px;
  padding: 20px 20px;
  position: relative;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link:focus {
	color: #354087;
}

.nav-link:hover {
	color: #354087;
}

.navbar-toggler {
	display: none;
  }
  
  .hori-selector {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
  }
  
  .hori-selector .right,
  .hori-selector .left {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
  }
  
  .hori-selector .right {
	right: -25px;
  }
  
  .hori-selector .left {
	left: -25px;
  }
  
  .hori-selector .right:before,
  .hori-selector .left:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #5161ce;
  }
  
  .hori-selector .right:before {
	bottom: 0;
	right: -25px;
  }
  
  .hori-selector .left:before {
	bottom: 0;
	left: -25px;
  }

  /* TOGGLER */

  .navbar-toggler {
	border-color:rgb(133, 120, 247);
	border-width: 1.5px;
  }

  .navbar-toggler:focus {
	color: rgb(223, 130, 23);
  }

  .navbar-toggler-icon {
	background-image: var(--bs-navbar-toggler-icon-bg);
	filter: invert(1);
  }
  
  
  @media (max-width: 991px) {
	.navbar-nav {
	  flex-direction: row;
	  align-items: center;
	  justify-content: flex-end;

	}
  
	.navbar-toggler {
	  display: block;
	}
  
	.navbar-collapse {
	  justify-content: flex-end;
	}
  }